<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Minified version -->
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">

    <!-- Un-minified version -->
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h2><a href="/">back to homepage</a></h2>
        <nav>
            <a href="">Log In</a>
        </nav>
    </header>
    <main>
        <h3>Hello this is the login page</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, vero?</p>
    </main>


    <footer>
        <small>
            &copy; Our Wonderful App
        </small>
    </footer>
</body>

</html>